.product__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  gap: 1rem;
}

.product__card__name {
  font-size: 2rem;
  font-weight: 700;
}

.product__card__name:hover {
  color: var(--link-hover);
}

.product__card__description {
  font-size: 1.6rem;
  line-height: 1.5;
}

.product__card__price {
  font-size: 2.5rem;
  font-weight: 100;
}
